<div id="<%= dom_id workorder %>">
 
 <div class="container text-center ">
  <tbody>
   <tr>      
      <td><%= workorder.first_name %></td>
      <td><%= workorder.last_name %></td>
      <td><%= workorder.phone %></td>
      <td><%= workorder.email %></td>
      <td><%= workorder.city %></td>
      <td><%= link_to "Show this Workorder", workorder, class:"btn btn-success" %></td>
    </tr>
   </tbody> 
  </div>


</div>
